html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
    color: #8B8B8B;
    font-weight: 300;
    font-size: 16px;
    margin: 60px 20px;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* mobile first */

.upper img {
    display: block;
    margin: 0 auto;
    max-width: 350px;
}

.underline {
    text-align: center;
    color: #000000;
    font-size: 28px;
    display: table;
    margin: 40px auto 30px auto;
}
  
.underline:after {
    border-bottom: 2px solid #407BFF;
    content: '';
    display: block;
    padding-bottom: 10px;
    width: 60px;
}

.underline--left {
    display: none;
}
  
.underline--center:after {
    margin-left: auto;
    margin-right: auto;
}

.description p {
    text-align: center;
    margin: 0 auto 30px auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 30px;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    margin: 0;
}

.first {
    background-color: #407BFF;
}

.second {
    background-color: #8B8B8B;
}

.description h2 {
    text-align: center;
    color: #000000;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.oneCard {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px #407BFF1F;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
    gap: 30px;
}

.oneCard img {
    width: 45px;
}

.oneCard p {
    margin: 0;
}

/* version for tablets */

@media screen and (min-width: 640px) {
    .buttons {
        flex-direction: row;
        gap: 20px;
    }

    .upper img {
        max-width: 400px;
    }

    .description {
        max-width: 550px;
        margin: 0 auto;
    }

    .cards {
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .oneCard {
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        gap: 20px;
    }

    .oneCard p {
        text-align: center;
    }  
}

/* desktop version */

@media screen and (min-width: 1100px) {
    .container {
        max-width: 1040px;
   }

    .underline--left {
        display: table;
        margin: 40px 0 30px 0;
    }

    .underline--center {
        display: none;
    }   

    .buttons {
        justify-content: start;
    }

    .part {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-top: 80px;
    }

    .upper img {
        max-width: 425px;
        order: 1;
    }

    .hero {
        max-width: 490px;
    }

    .cards {
        max-width: 550px;
    }

    .middle .description,
    .lower .description {
        max-width: 430px;
    }

    .underline,
    .description h2,
    .description p {
        text-align: left;
    }

    .description h2 {
        margin: 0 0 15px 0;
    }

    .middle .description {
        order: 1;
    }
}